<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhe da Aparelho</title>
    <link rel="stylesheet" href="../../public/stylesheets/administrador/adm-salas.css">
    <link rel="icon" href="../../public/images/logo-IceT.png" type="image/x-icon">
</head>

<body>
    <aside class="sidebar">
        <div class="logo">
            <img src="../../public/images/logo-IceT.png"> Ice T
        </div>
        <nav class="menu">
            <a href="#" class="menu-item">
                <img src="../../public/images/ordemdeservico.png"> Ordem de Serviço
            </a>
            <a href="#" class="menu-item">
                <img src="../../public/images/historico.png"> Histórico
            </a>
            <a href="#" class="menu-item">
                <img src="../../public/images/aparelhos.png"> Aparelhos
            </a>
            <a href="#" class="menu-item">
                <img src="../../public/images/salas.png"> Salas
            </a>
        </nav>
        <div class="user">
            <div class="user-info">
                <span class="user-name">Perfil</span>
                <span class="user-role">Administradora</span>
            </div>
            <img src="../../public/images/sair.png">
        </div>
    </aside>
    <div class="container">
        <main class="main-content">
            <h1>Detalhe do aparelho</h1>
            <div class="content-box">
                <form>

                        <label for="numero-sala">Número da sala
                            <p>Split LG</p>
                        </label>

                        <label for="bloco">Bloco
                            <p>Split LG</p>
                        </label>
                 

                    <div class="grupo">
                        <a class="deletar" href="">Deletar</a>

                        <button type="submit" id="entrar">Salvar</button>
                    </div>
    
                </form>
            </div>
        </main>
    </div>
</body>

</html>
