<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhe da OS</title>
    <link rel="stylesheet" href="../../public/stylesheets/administrador/adm-os.css">
    <link rel="icon" href="../../public/images/logo-IceT.png" type="image/x-icon">
</head>

<body>
    <aside class="sidebar">
        <div class="logo">
            <img src="../../public/images/logo-IceT.png"> Ice T
        </div>
        <nav class="menu">
            <a href="#" class="menu-item active">
                <img src="../../public/images/ordemdeservico.png"> Ordem de Serviço
            </a>
            <a href="#" class="menu-item">
                <img src="../../public/images/historico.png"> Histórico
            </a>
            <a href="#" class="menu-item">
                <img src="../../public/images/aparelhos.png"> Aparelhos
            </a>
            <a href="#" class="menu-item">
                <img src="../../public/images/salas.png"> Salas
            </a>
        </nav>
        <div class="user">
            <div class="user-info">
                <span class="user-name">Perfil</span>
                <span class="user-role">Administradora</span>
            </div>
            <img src="../../public/images/sair.png">
        </div>
    </aside>
    <div class="container">
        <main class="main-content">
            <h1>Detalhe da OS</h1>
            <div class="content-box">
                <form>

                    <div class="grupo">
                        <label for="aparelho">Aparelho
                            <p>Split LG</p>
                        </label>
                    </div>
                    
                    <div class="grupo">
                        <label for="bloco">Bloco
                            <p>Bloco C</p>
                        </label>
    
                        <label for="sala">Sala
                            <p>207</p>
                        </label>

                    </div>

                    <div class="grupo">
                        <label for="solicitante">Solicitante
                            <p>victor.araujo@ufam.edu.br</p>
                        </label>
    
                        <label for="data">Data
                            <p>12/12/2024</p>
                        </label>
                    </div>

                    <div class="grupo">
                        <label for="status">Status
                            <p>Solicitado</p>
                        </label>
    
                        <label for="problema">Problema
                            <p>Ruído estranho</p>
                        </label>
                    </div>

                    <div class="grupo">
                        <label for="descricao">Descrição *
                            <p>Aparelho apresentando um ruído estranho quando está ligado</p>                        
                        </label>
                    </div>

                    <div class="grupo">
                        <a class="deletar" href="">Deletar</a>

                        <button class="btn-azul" type="submit" id="entrar">Marcar como comcluído</button>
                        <button type="submit" id="entrar">Salvar</button>
                    </div>
    
                </form>
            </div>
        </main>
    </div>
</body>

</html>
