<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Aparelhos</title>
    <link rel="stylesheet" href="../../public/stylesheets/administrador/adm-aparelho.css">
    <link rel="icon" href="../../public/images/logo-IceT.png" type="image/x-icon">
</head>

<body>
    <aside class="sidebar">
        <div class="logo">
            <img src="../../public/images/logo-IceT.png"> Ice T
        </div>
        <nav class="menu">
            <a href="#" class="menu-item">
                <img src="../../public/images/ordemdeservico.png"> Ordem de Serviço
            </a>
            <a href="#" class="menu-item">
                <img src="../../public/images/historico.png"> Histórico
            </a>
            <a href="#" class="menu-item">
                <img src="../../public/images/aparelhos.png"> Aparelhos
            </a>
            <a href="#" class="menu-item">
                <img src="../../public/images/salas.png"> Salas
            </a>
        </nav>
        <div class="user">
            <div class="user-info">
                <span class="user-name">Perfil</span>
                <span class="user-role">Administradora</span>
            </div>
            <img src="../../public/images/sair.png">
        </div>
    </aside>
    <div class="container">
        <main class="main-content">
            <div class="superior">
                <h1>Aparelhos</h1>
                <button class="btn-azul" type="submit" id="entrar">Cadastrar Aparelho</button>
            </div>
            <div class="content-box">
                <form>
                    <div class="grupo">
                        <label for="bloco">Bloco *
                            <select id="bloco" name="bloco" required>
                                <option value="">selecione</option>
                                <option value="c">Bloco c</option>
                            </select>
                        </label>
    
                        <label for="sala">Sala *
                            <select id="sala" name="sala" required>
                                <option value="">selecione</option>
                                <option value="102">Sala 102</option>
                            </select>
                        </label>

                        <label for="patrimonio">Patrimônio *
                            <input type="text" name="patrimonio" id="patrimonio" placeholder="digite o email solicitante">
                        </label>
                    </div>
    
                    <button type="submit" id="entrar">Buscar</button>
    
                </form>
                <table>
                    <tr class="cabecalho">
                      <th>Aparelho</th>
                      <th>Marca</th>
                      <th>Patrimônio</th>
                    </tr>
                    <tr>
                      <td>Splite</td>
                      <td>LG</td>
                      <td>12345678910</td>
                    </tr>
                  </table>
            </div>
        </main>
    </div>
</body>

</html>
