<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Detalhe da Aparelho</title>
    <link rel="stylesheet" href="../../public/stylesheets/administrador/adm-perfil.css">
    <link rel="icon" href="../../public/images/logo-IceT.png" type="image/x-icon">
</head>

<body>
    <aside class="sidebar">
        <div class="logo">
            <img src="../../public/images/logo-IceT.png"> Ice T
        </div>
        <nav class="menu">
            <a href="./adm-os.html" class="menu-item">
                <img src="../../public/images/ordemdeservico.png"> Ordem de Serviço
            </a>
            <a href="./adm-historico.html" class="menu-item">
                <img src="../../public/images/historico.png"> Histórico
            </a>
            <a href="./adm-aparelho.html" class="menu-item">
                <img src="../../public/images/aparelhos.png"> Aparelhos
            </a>
            <a href="./adm-salas.html" class="menu-item">
                <img src="../../public/images/salas.png"> Salas
            </a>
        </nav>
        <div class="user">
            <a href="./adm-perfil.html">
                <div class="user-info">
                <span class="user-name">Perfil</span>
                <span class="user-role">Administradora</span>
                </div>
            </a>
            <a href="../usuario/login.html">
                <img src="../../public/images/sair.png">    
            </a>
        </div>
    </aside>
    <div class="container">
        <main class="main-content">
            <h1>Detalhe do aparelho</h1>
            <div class="content-box">
                <form>
                    
                    <div class="grupo">
                        <label for="nome">Nome *
                            <input type="text" id="nome" name="nome" required>
                        </label>
    
                        <label for="nome">Email *
                            <input type="email" id="email" name="email" required>
                        </label>
                    </div>
    
                    <div class="grupo">
                        <label for="senha">Senha *
                            <input type="password" id="senha" name="senha" required>
                        </label>
    
                        <label for="confirme-senha">Confirmar Senha *
                            <input type="password" id="confirme-senha" name="confirme-senha" required>
                        </label>
                    </div>

                    <div class="grupo">
                        <button type="submit" id="entrar">Salvar</button>
                    </div>
    
                </form>
            </div>
        </main>
    </div>
</body>

</html>
