@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

:root {
    --font-primary: 'Poppins', sans-serif;
    --roxo-primario: #240234;
    --roxo-secundario: #331E59;
    --azul-principal: #3746CD;
    --azul-secundário: #A3F4FF;
    --verde: #12BA23;
    --vermelho: #BB1414;
    --amarelo: #FFA600;
    --branco: #FFFFFF;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    border: none;
    font-family: var(--font-primary);
    font-size: 16px;
    text-decoration: none;
    list-style: none;
}

body {
    width: 100%;
    height: 100vh; 
    background: #EEEEF6;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.container {
    padding: 0 7%;
    margin: 0 auto;
}


/* nav */
nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-top: 50px;
    background-color: #BB1414;
    padding: 12px;
    border-radius: 20px;
    background: linear-gradient(0deg, rgba(0, 0, 0, 0.20) 0%, rgba(0, 0, 0, 0.20) 100%), linear-gradient(113deg, #240234 9.68%, #331E59 25.78%, #3746CD 56.46%, #A3F4FF 100%);
}

nav .container {
    padding: 0;
}

nav a{
    display: flex;
    align-items: center;
    color: var(--branco);
}

nav img {
    width: 30px;
}

nav p {
    color: var(--branco);
    font: 600 32px/normal Poppins;
}

nav ul {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav ul li {
    font: 500 20px/normal Poppins;
    padding: 7px 10px;
    display: flex;
    justify-content: center;
    width: 8rem;
    cursor: pointer;

}

nav ul li:hover {
    border-radius: 54px;
    border: 2px solid rgba(163, 244, 255, 0.50);
    background: rgba(55, 70, 205, 0.50);
}

nav ul li:nth-child(2) {
    border-radius: 54px;
    border: 2px solid rgba(163, 244, 255, 0.50);
    background: rgba(55, 70, 205, 0.50);
}

.btn-login {
    background: #a3f4ff80; 
    color: var(--branco);
    border-radius: 15px; 
    border: 2px rgba(255, 255, 255, 0.50) solid;
    padding: 3px 25px;
    cursor: pointer;
    font: 600 20px/normal Poppins;
}

.btn-login:hover {
    background: #ffffff80;
}

/* main */

h1 {
    font: 600 25px/normal Poppins;
    color: var(--roxo-primario);
}

.content {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background-color: var(--branco);
    border-radius: 20px;
    gap: 20px;
    padding: 4% 0;
}