<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cadastro - Ice T</title>
    <link rel="stylesheet" href="../../public/stylesheets/usuario/login.css">
    <link rel="icon" href="../../public/images/floco-de-neve 1.png" type="image/x-icon">
</head>
<body>
    <div class="container">
        <div class="login">
            <h1>Cadastro</h1>
            <form>
                <label for="nome">Nome *</label>
                <input type="text" id="nome" name="nome" required>
                
                <label for="email">Email *</label>
                <input type="email" id="email" name="email" required>
                
                <label for="senha">Senha *</label>
                <input type="password" id="senha" name="senha" required>
                
                <label for="confirme-senha">Confirmar Senha *</label>
                <input type="password" id="confirme-senha" name="confirme-senha" required>
                
                <a href="#" class="forgot_password" id="esqueceu-senha">Esqueceu a senha</a>
                
                <button type="submit" id="entrar">Entrar</button>
                <p>Já tem uma conta? <a href="/cadastro" class="create-account" id="criar-conta">Fazer login</a></p>
                
            </form>
        </div>
        <div class="background">
            <div class="img"></div>
            <h2>Ice T</h2>
        </div>
    </div>
</body>
</html>
