<!DOCTYPE html>
<html lang="pt-BR">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>IceT</title>
    <link rel="stylesheet" href="../../public/stylesheets/usuario/home.css">
    <link rel="icon" href="../../public/images/logo-IceT.png" type="image/x-icon">
</head>

<body>
    <header>
        <div class="container">
            <!-- nav -->
            <nav>
                <!-- logo -->
                <a href="./home.html">
                    <img src="../../public/images/logo-IceT.png" alt="IceT">
                    <p>IceT</p>
                </a>
                <!-- links -->
                <ul class="menu-links">
                    <li><a href="./home.html">Home</a></li>
                    <li><a href="./solicitar-manutencao.html" id="manutencao-corretiva">Solicitações</a></li>
                    <li><a href="./sobre.html">Sobre</a></li>
                </ul>
                <!-- button de login -->
                <a href="./login.html">
                    <button class="btn-login" id="btnlogin" onclick="">Login</button>
                </a>
                
            </nav>
        </div>
    </header>
    <main>
        <!-- container -->
        <div class="container">
            <div class="main_text">
                <h1>Manutenção dos <br>Ares-condicionados</h1>
                <p>Sistema para gerenciamento de manutenções</p>
                <a href="./solicitar-manutencao.html">
                    <button id="btnSolicitarManutencao">Solicitar Manutenção</button>
                </a>
            </div>
            <div class="main_img">
                <img src="../../public/images/homeARcondicionado.png" alt="">
            </div>
        </div>
    </main>
    <!-- footer -->
    <footer>
        <div class="container">
            <p>ice-tsuporte.ufam@gmail.com</p>
            <p>(92) 99354-5890</p>
        </div>
    </footer>
</body>
</html>