<!-- public/html/home.html -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Editar Perfil</title>
    <link rel="stylesheet" href="../../public/stylesheets/usuario/perfil.css">
    <link rel="icon" href="../../public/images/logo-IceT.png" type="image/x-icon">
</head>

<body>
    <!-- header  -->
    <header>
        <!-- container -->
        <div class="container">
            <!-- nav -->
            <nav>
                <!-- logo -->
                <a href="./home.html">
                    <img src="../../public/images/logo-IceT.png" alt="IceT">
                    <p>IceT</p>
                </a>
                <!-- links -->
                <ul class="menu-links">
                    <li><a href="./home.html">Home</a></li>
                    <li><a href="./solicitar-manutencao.html" id="manutencao-corretiva">Solicitações</a></li>
                    <li><a href="./sobre.html">Sobre</a></li>
                </ul>
                <!-- button de login -->
                <button class="btn-login" id="btnlogin">Perfil</button>
            </nav>
        </div>
    </header>
    <!-- main -->
    <main>
        <!-- container -->
        <div class="container">
            <form>
                <h1>Editando Perfil</h1>
                <div class="grupo">
                    <label for="nome">Nome *
                        <input type="text" id="nome" name="nome" required>
                    </label>

                    <label for="nome">Email *
                        <input type="email" id="email" name="email" required>
                    </label>
                </div>

                <div class="grupo">
                    <label for="senha">Senha *
                        <input type="password" id="senha" name="senha" required>
                    </label>

                    <label for="confirme-senha">Confirmar Senha *
                        <input type="password" id="confirme-senha" name="confirme-senha" required>
                    </label>
                </div>

                <div class="grupo">
                    <a href="#" class="delete-profile" id="deletar-perfil">Excluir Perfil</a>

                    <button type="submit" id="salvar">Salvar</button>
                </div>

            </form>
        </div>
        <script src="perfil.js"></script>
    </main>
</body>

</html>