<!-- public/html/home.html -->
<!DOCTYPE html>
<html lang="pt-BR">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sobre</title>
    <link rel="stylesheet" href="../../public/stylesheets/usuario/sobre.css">
    <link rel="icon" href="../../public/images/logo-IceT.png" type="image/x-icon">
</head>

<body>
    <!-- header  -->
    <header>
        <!-- container -->
        <div class="container">
            <!-- nav -->
            <nav>
                <!-- logo -->
                <a href="./home.html">
                    <img src="../../public/images/logo-IceT.png" alt="IceT">
                    <p>IceT</p>
                </a>
                <!-- links -->
                <ul class="menu-links">
                    <li><a href="./home.html">Home</a></li>
                    <li><a href="./solicitar-manutencao.html" id="manutencao-corretiva">Solicitações</a></li>
                    <li><a href="./sobre.html">Sobre</a></li>
                </ul>
                <!-- button de login -->
                 <a href="./perfil.html">
                    <button class="btn-login" id="btnlogin">Perfil</button>
                 </a>
            </nav>
        </div>
    </header>
    <!-- main -->
    <main>
        <!-- container -->
        <div class="container">
            <!-- content -->
            <div class="content">
                <h1>Sistema web para gerenciamento de manutenções em ares-condicionado</h1>
                <h1>DESENVOLVEDORES:</h1>
                <h1>Liliene Picanço Pereira</h1>
                <h1>Victor Gabriel Araújo</h1>
                <h1>ORIENTADORA: Iracyanne Retto</h1>
                <p>Projeto Super 2024 - 2025</p>

            </div>
        </div>
    </main>
</body>

</html>